@import './ds/borders.scss';
@import './ds/links.scss';
@import './ds/buttons.scss';
@import './ds/input.scss';
@import './ds/common.scss';
@import url('https://fonts.googleapis.com/css2?family=Quicksand');

.quickSand {
  font-family: 'Quicksand'
}

body.noscroll
{
    position: fixed; 
    overflow-y: scroll;
    width: 100%;
}

.pagination-container {
  display: flex;
  column-gap: 8px;

  .btn {
    @extend .secondary-icon-btn;
  }

  .back-btn {
    @extend .secondary-icon-btn;
  }

  .next-btn {
    @extend .secondary-icon-btn;
  }

  .btn-active {
    background-color: #D14905;
    color: white;
  }
}