.inputs {
    @apply text-xm font-medium text-neutral-base border border-secondary-base box-border;
    box-shadow: none;
    background-color: white;
    padding: 12px;
    width: 320px;
    height: 52px;
    &:focus,
    &:hover {
        @apply text-neutral-dark border-2 border-secondary-dark;
        box-shadow: 2px 2px 0px #01192F;
    }
    &:active {
        @apply text-neutral-dark border-2 border-secondary-dark;
        box-shadow: none;
    }
    &:disabled {
        @apply bg-neutral-ultra-light text-neutral-base border border-secondary-base;
        pointer-events: none;
    }
}

.inputs-error {
    border: 2px solid #CC0101 !important;
}