.link {
    @apply text-secondary-dark;
    cursor: pointer;

    &:hover,
    &:focus {
        @apply text-primary-dark;
    }

    &:active {
        @apply text-secondary-dark;
        @apply font-bold;
    }

    &:disabled {
        pointer-events: none;
        @apply text-neutral-base;
    }
}

.link_underline {
    @extend .link;
    @apply underline;

    &:active {
        @apply no-underline;
    }

    &:disabled {
        @apply no-underline;
    }
}

.link-dark {
    @apply text-white;
    cursor: pointer;

    &:hover,
    &:focus {
        @apply text-primary-light;
    }

    &:active {
        @apply text-white;
        @apply font-bold;
    }

    &:disabled {
        pointer-events: none;
        @apply text-neutral-light
    }
}

.link-dark-header {
    @apply text-white bg-primary-base;
    cursor: pointer;

    &:hover,
    &:focus {
        @apply bg-secondary-dark;
    }

    &:active {
        @apply bg-primary-dark;
    }

    &:disabled {
        pointer-events: none;
        @apply text-neutral-light
    }
}

.link-dark_underline {
    @extend .link-dark;
    @apply underline;

    &:active {
        @apply no-underline;
    }

    &:disabled {
        @apply no-underline;
    }
}

.link-button {
    @apply font-bold;
    @apply text-primary-dark;
    cursor: pointer;
    &:hover,
    &:focus {
        @apply text-secondary-dark;
    }

    &:active {
        @apply text-secondary-base;
    }

    &:disabled {
        pointer-events: none;
        @apply text-neutral-base;
    }
}
