<template>
  <div class="relative z-50" aria-labelledby="modal-title" role="dialog" aria-modal="true">
    <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"></div>
    <div class="fixed inset-0 z-50 overflow-y-auto">
      <div class="flex min-h-full items-center justify-center p-4 text-center">
        <div class="relative transform bg-white p-8 flex justify-center modal_connexion_card">
          <a class="absolute top-6 right-6 link" @click="close">
            <IconsCross></IconsCross>
          </a>
          <div>
            <div class="text-xl lg:text-xxl font-bold text-secondary-base">Se connecter</div>
            <div class="text-m font-medium text-secondary-base mt-2">Veuillez saisir vos identifiants.</div>
            <div class="text-left mt-14">
              <div class="text-m font-bold text-neutral-dark">Email</div>
              <div class="mt-2"><input class="modal_connexion_input" type="text" placeholder="doris.day@gmail.com"></div>
            </div>
            <div class="text-left mt-8">
              <div class="text-m font-bold text-neutral-dark">Mot de passe</div>
              <div class="mt-2"><input class="modal_connexion_input" type="text" placeholder="mot de passe"></div>
            </div>
            <div class="mt-8">
              <button class="primary-btn btn-mobile text-xm font-bold" style="width: 100% !important;">
                Je me connecte
              </button>
            </div>
            <div class="mt-8">
              <a class="text-s font-medium link_underline">Mot de passe oublié ?</a>
            </div>
            <div class="text-m font-medium mt-6">
              <span>Vous n’avez pas encore de compte ?</span>
              <a class="ml-2 link-button font-bold">Inscrivez-vous</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script setup>
const emit = defineEmits(['close'])
const close = () => {
  emit('close')
}

onBeforeMount(() => {
  document.body.classList.add("overflow-hidden");
  document.body.classList.add("noscroll");
})

onBeforeUnmount(() => {
  document.body.classList.remove("overflow-hidden");
  document.body.classList.remove("noscroll");
})
</script>

<style lang="scss" scoped>
.modal_connexion_card {
  width: 100%;
  @media (min-width: 1024px) {
    width: 457px;
  }
}

.modal_connexion_input {
  @apply border border-secondary-base py-4 px-3;
  width: 100%;
}
</style>