<template>
  <div class="relative z-50" aria-labelledby="modal-title" role="dialog" aria-modal="true">
    <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"></div>
    <div class="fixed inset-0 z-50 overflow-y-auto">
      <div class="flex min-h-full items-center justify-center p-4 text-center">
        <div class="relative transform bg-white modal_connexion_inscription_card lg:flex">
          <a class="absolute top-6 right-6 link-dark z-10 hidden lg:block" @click="close">
            <IconsCross></IconsCross>
          </a>
          <!-- Left -->
          <div class="modal_connexion_inscription_left_container px-6 py-10 lg:p-0 lg:flex justify-center items-center">
            <a class="absolute top-6 right-6 link z-10 lg:hidden" @click="close">
              <IconsCross></IconsCross>
             </a>
            <div>
              <div class="mt-12 lg:mt-0 text-l lg:text-xxl font-bold text-secondary-base">Se connecter</div>
              <div class="mt-2 text-xm font-medium text-primary-dark">Veuillez saisir vos identifiants.</div>
              <div class="text-left mt-10 sm:px-20 md:px-32 lg:px-0">
                <div class="text-m font-bold text-neutral-dark">Email</div>
                <div class="mt-2"><input class="modal_connexion_inscription_input" type="text"
                    placeholder="doris.day@gmail.com">
                </div>
              </div>
              <div class="text-left mt-4 sm:px-20 md:px-32 lg:px-0">
                <div class="text-m font-bold text-neutral-dark">Mot de passe</div>
                <div class="mt-2"><input class="modal_connexion_inscription_input" type="text"
                    placeholder="mot de passe"></div>
              </div>
              <div class="mt-10">
                <button class="primary-btn btn-mobile text-xm font-bold" style="width: 100% !important;">
                  Je me connecte
                </button>
              </div>
              <div class="mt-6 text-left">
                <a class="text-m link-button flex items-center">
                  <IconsChevronRight></IconsChevronRight>
                  Mot de passe oublié ?
                </a>
              </div>
            </div>
          </div>
          <!-- Right -->
          <div
            class="modal_connexion_inscription_right_container bg-secondary-base text-white flex justify-center items-center px-6 py-10 lg:p-0">
            <div class="mt-12 lg:mt-0 text-left w-3/4">
              <div class="text-l lg:text-xxl font-medium">Pas encore de <span class="font-bold">compte</span> ?</div>
              <div class="mt-2 text-xm lg:text-l font-medium"><span class="font-bold">Inscrivez-vous</span> et <span class="font-bold">bénéficiez</span> de nos services.</div>
              <div class="mt-3">
                <div class="flex items-start mt-4" v-for="(service, index) in services">
                  <div>
                    <IconsCheck class="mt-1 h-4 w-4"></IconsCheck>
                  </div>
                  <div class="ml-2">{{ service }}</div>
                </div>
              </div>
              <div class="mt-10">
                <button class="primary-btn btn-mobile text-xm font-bold">
                  S’inscrire
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script setup>
const emit = defineEmits(['close'])
const close = () => {
  emit('close')
}

onBeforeMount(() => {
  document.body.classList.add("overflow-hidden");
  document.body.classList.add("noscroll");
})

onBeforeUnmount(() => {
  document.body.classList.remove("overflow-hidden");
  document.body.classList.remove("noscroll");
})

const services = reactive([
  'Un accès centralisé à l’ensemble des appels d’offres publics',
  'La création de vos profils de recherche',
  'Des alertes e-mail quotidiennes ou hebdomadaires',
  'Un accès direct aux DCE',
  'Le référencement de votre entreprise dans notre annuaire de fournisseurs, consultable par les acheteurs publics'
])
</script>

<style lang="scss" scoped>
.modal_connexion_inscription_card {
  width: 100%;
  height: 100%;

  @media (min-width: 1024px) {
    height: 600px;
    width: 1000px
  }

  @media (min-width: 1280px) {
    width: 1224px
  }
}

.modal_connexion_inscription_left_container {
  width: 100%;
  @media (min-width: 1024px) {
    width: 45%
  }
}

.modal_connexion_inscription_right_container {
  width: 100%;
  clip-path: polygon(0 30px, 100% 0, 100% 100%, 0 100%);

  @media (min-width: 1024px) {
    width: 55%;
    clip-path: polygon(5% 0, 101% 0, 101% 100%, 0 100%);
  }
}

.modal_connexion_inscription_input {
  @apply border border-secondary-base py-4 px-3;
  width: 100%;
  @media (min-width: 1024px) {
    width: 320px;
  }
 
}
</style>