<template>
  <div class="relative z-50" aria-labelledby="modal-title" role="dialog" aria-modal="true">
    <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"></div>
    <div class="fixed inset-0 z-50 overflow-y-auto">
      <div class="flex min-h-full items-center justify-center p-4 text-center">
        <div class="relative transform bg-white p-8 flex justify-center modal_inscription_card">
          <a class="absolute top-6 right-6 link" @click="close">
            <IconsCross></IconsCross>
          </a>
          <div>
            <div class="text-xl lg:text-xxl font-bold text-secondary-base">S’inscrire</div>
            <div class="text-m font-medium text-secondary-base mt-2">Bénéficiez de tous les services de Marchés Online</div>
            <div class="mt-8">
              <button class="primary-btn btn-mobile text-xm font-bold" style="width: 100% !important;">
                Je suis une entreprise
              </button>
            </div>
            <div class="mt-8">
              <button class="primary-dark-btn btn-mobile text-xm font-bold" style="width: 100% !important;">
                Je suis un acheteur
              </button>
            </div>
            <div class="mt-8">
              <a class="text-s font-medium link_underline">J’ai déjà un compte</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script setup>
const emit = defineEmits(['close'])
const close = () => {
  emit('close')
}

onBeforeMount(() => {
  document.body.classList.add("overflow-hidden");
  document.body.classList.add("noscroll");
})

onBeforeUnmount(() => {
  document.body.classList.remove("overflow-hidden");
  document.body.classList.remove("noscroll");
})
</script>

<style lang="scss" scoped>
.modal_inscription_card {
  width: 100%;
  @media (min-width: 1024px) {
    width: 457px;
  }
}

</style>