<template>
  <CommonMenu>
    <slot>
      <div class="flex justify-center divide-x divide-neutral-ultra-light">
        <div class="menu_research_left_container pr-16">
          <div class="text-xm font-bold text-secondary-base">Rechercher un avis</div>
          <div class="text-m font-medium text-neutral-base mt-6">
            Quel que soit votre secteur d'activité,
            accédez à l'ensemble des marchés publics
          </div>
          <div class="mt-7">
            <a href="/rechercher-un-avis"><button class="primary-btn flex items-center">
              <div class="mr-2">
                <IconsSearch></IconsSearch>
              </div> Rechercher
            </button></a>
          </div>
        </div>
        <div class="menu_research_right_container pl-16">
          <div class="grid grid-cols-2">
            <div class="col-span-1">
              <div class="text-xm font-bold text-secondary-base">Par région</div>
              <div class="mt-6">
                <a class="link text-m font-medium ">Ile-de-france</a>
              </div>
              <div class="mt-4">
                <a class="link text-m font-medium">Auvergne–Rhône-Alpes</a>
              </div>
              <div class="mt-4">
                <a class="link text-m font-medium">Bourgogne-Franche-Comté</a>
              </div>
              <div class="mt-4">
                <a class="link text-m font-medium">Bretagne</a>
              </div>
              <div class="mt-4">
                <a class="link text-m font-medium">Centre-Val de Loire</a>
              </div>
              <div class="mt-6">
                <a class="link_underline text-s font-medium" href="/appels-offres/avis-par-region">Voir tout</a>
              </div>
            </div>
            <div class="col-span-1">
              <div class="text-xm font-bold text-secondary-base">Par métier</div>
              <div class="mt-6">
                <a class="link text-m font-medium">Assurance</a>
              </div>
              <div class="mt-4">
                <a class="link text-m font-medium">Electricité Sécurité Téléphone</a>
              </div>
              <div class="mt-4">
                <a class="link text-m font-medium">Etudes techniques</a>
              </div>
              <div class="mt-4">
                <a class="link text-m font-medium">Gros oeuvre</a>
              </div>
              <div class="mt-4">
                <a class="link text-m font-medium ">Machines et équipements</a>
              </div>
              <div class="mt-6">
                <a class="link_underline text-s font-medium" href="/appels-offres/avis-par-metier">Voir tout</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </slot>
  </CommonMenu>
</template>

<script setup>
import CommonMenu from './Menu.vue'
import IconsSearch from '../icons/search.vue'
</script>

<style lang="scss" scoped>
.menu_research_left_container {
  width: 397px;
}

.menu_research_right_container {
  width: 600px;
}
</style>