<template>
    <div class="header_menu_container box-border box-shadow-neutral-2 w-screen absolute z-50 left-0 py-12 bg-white" style="margin-top: -2px">
        <slot></slot>
    </div>
</template>

<style lang="scss" scoped>
.header_menu_container {
  top: 82px;
}
</style>
