<template>
  <CommonMenu>
    <slot>
      <div class="flex justify-center">
        <a class="text-m font-medium link mr-16" @click="openPage('faq/faq-acheteurs/')">Actualités Commande Publique</a>
        <a class="text-m font-medium link mr-16" @click="openPage('faq/tutoriels/')">FAQ et tutoriels</a>
        <a class="text-m font-medium link mr-16" @click="openPage('clubs-marches-les-rencontres-de-la-commande-publique/')">Clubs Marchés</a>
        <a class="text-m font-medium link mr-16" @click="openPage('tous-les-formulaires-de-reference-de-la-commande-publique/')">Formulaires de référence</a>
        <a class="text-m font-medium link" @click="openPage('prise-en-main-marches-online/')">Nos ateliers</a>
      </div>
    </slot>
  </CommonMenu>
</template>
<script setup>
import CommonMenu from './Menu.vue'
const openPage = (url) => {
  window.open('https://www.infos.marchesonline.com/accueil/' + url, '_blank')
}
</script>