<template>
  <CommonMenu>
    <slot>
      <div class="flex justify-center">
        <a class="text-m font-medium link mr-16"  href="/nous-connaitre/raison-d-etre-et-valeurs">Raison d’être et valeurs</a>
        <a class="text-m font-medium link mr-16" href="/nous-connaitre/sources-information">Nos sources d'information</a>
        <a class="text-m font-medium link mr-16" href="/nous-connaitre/supports-publication">Nos supports de publication</a>
        <a class="text-m font-medium link" href="/nous-connaitre/habilitations-shal">Nos habilitations SHAL</a>
      </div>
    </slot>
  </CommonMenu>
</template>
<script setup>
import CommonMenu from './Menu.vue'
</script>
<style scoped>
.menu_about_active {
  @apply text-primary-dark;
}
</style>