<template>
  <CommonMenu>
    <slot>
      <div class="flex justify-center">
        <div class="menu_solution_left_container relative bg-neutral-ultra-light p-8 mr-16">
          <div class="text-xm font-bold text-secondary-base">Pack Marchés Online</div>
          <div class="text-m font-medium text-neutral-base mt-6">Du sourcing à la publication,
            ce pack est la solution pour la réussite
            de vos marchés</div>
          <div class="mt-7"><a href="/solutions-acheteur/pack-mol"><button class="primary-btn" >Découvrir</button></a></div>
          <div class="absolute top-3 right-4"><img src="../icons/triangle_mobile.svg" alt=""></div>
        </div>
        <div class="menu_solution_right_container">
          <div class="text-xm font-bold text-secondary-base">Nos modules</div>
          <div class="grid grid-cols-1 mt-2 text-m font-medium text-secondary-dark">
            <a class="col-span-1 link mt-4" href="/solutions-acheteur/datalab-marches">DataLab Marchés</a>
            <a class="col-span-1 link mt-4" href="/solutions-acheteur/e-fournisseurs">E-Fournisseurs</a>
            <a class="col-span-1 link mt-4" href="/solutions-acheteur/publication-diffusion">Publication & Diffusion</a>
            <a class="col-span-1 link mt-4" href="/solutions-acheteur/demat-a-l-acte">Démat’ à l’acte</a>
            <a class="col-span-1 link mt-4" href="/solutions-acheteur/e-contacts">E-Contacts</a>
            <a class="col-span-1 link mt-4" href="/solutions-acheteur/les-tarifs/pack-marches-online">Nos tarifs</a>
          </div>
        </div>
      </div>
    </slot>
  </CommonMenu>
</template>

<script setup>
import CommonMenu from './Menu.vue'
</script>

<style lang="scss" scoped>
.menu_solution_left_container {
  width: 397px;
}

.menu_solution_right_container {
  width: 500px;
}

.menu_solution_active {
  @apply text-primary-dark;
}
</style>