<template>
  <div class="fixed w-screen h-screen bg-white z-40 left-0 top-0 px-5">
    <div class="absolute right-5 top-6" @click="close">
      <IconsCross></IconsCross>
    </div>
    <div v-if="!expand" class="h-screen menu_mobile_container flex flex-col justify-between">
      <div>
        <a class="flex justify-between text-l font-bold link items-center" @click="expand = true; title = 'research'">
          <div>Rechercher un avis</div>
          <div>
            <IconsChevronRight></IconsChevronRight>
          </div>
        </a>
        <a class="flex text-l font-bold link items-center mt-10" href="/offres-entreprises">
          <div>Offres entreprises</div>
        </a>
        <a class="flex justify-between text-l font-bold link items-center mt-10"
          @click="expand = true; title = 'solution'">
          <div>Solutions acheteurs</div>
          <div>
            <IconsChevronRight></IconsChevronRight>
          </div>
        </a>
        <a class="flex justify-between text-l font-bold link items-center mt-10"
          @click="expand = true; title = 'resource'">
          <div>Actu & Ressources</div>
          <div>
            <IconsChevronRight></IconsChevronRight>
          </div>
        </a>
        <a class="flex justify-between text-l font-bold link items-center mt-10"
          @click="expand = true; title = 'about'">
          <div>Nous connaître</div>
          <div>
            <IconsChevronRight></IconsChevronRight>
          </div>
        </a>
        <a class="flex text-l font-bold link items-center mt-10">
          <div>Contact</div>
        </a>
      </div>
      <div class="mx-auto">
        <button class="primary-btn btn-mobile">S’inscrire</button>
        <button class="secondary-btn btn-mobile mt-2">Se connecter</button>
      </div>
    </div>
    <div v-else class="h-screen sub_menu_mobile_container overflow-y-auto scroll-bar">
      <a class="flex items-center" @click="expand = false">
        <div>
          <IconsChevronLeft></IconsChevronLeft>
        </div>
        <div>Retour</div>
      </a>
      <!-- Search -->
      <div v-if="title === 'research'" class="px-5">
        <div class="mt-7 text-l font-bold text-primary-dark">Recherche</div>
        <div class="mt-12 text-xm font-bold text-secondary-base">Rechercher un avis</div>
        <div class="text-m font-medium text-neutral-base mt-4">
          Quel que soit votre secteur d'activité,
          accédez à l'ensemble des marchés publics
        </div>
        <div class="mt-3">
          <a href="/rechercher-un-avis">
            <button class="primary-btn btn-mobile flex items-center justify-center">
              <div class="mr-2">
                <IconsSearch></IconsSearch>
              </div> Rechercher
            </button>
          </a>
        </div>
        <div class="mt-12">
          <div class="flex justify-between">
            <div class="text-xm font-bold text-secondary-base">Par région</div>
            <a class="link_underline text-s font-medium text-secondary-dark" href="/appels-offres/avis-par-region">Voir
              tout</a>
          </div>
          <div class="px-4">
            <div class="mt-6">
              <a class="link text-m font-medium">Ile-de-france</a>
            </div>
            <div class="mt-6">
              <a class="link text-m font-medium">Auvergne–Rhône-Alpes</a>
            </div>
            <div class="mt-6">
              <a class="link text-m font-medium">Bourgogne-Franche-Comté</a>
            </div>
            <div class="mt-6">
              <a class="link text-m font-medium">Bretagne</a>
            </div>
            <div class="mt-6">
              <a class="link text-m font-medium">Centre-Val de Loire</a>
            </div>
          </div>
        </div>
        <div class="mt-12">
          <div class="flex justify-between">
            <div class="text-xm font-bold text-secondary-base">Par métier</div>
            <a class="link_underline text-s font-medium text-secondary-dark" href="/appels-offres/avis-par-metier">Voir
              tout</a>
          </div>
          <div class="px-4">
            <div class="mt-6">
              <a class="link text-m font-medium">Assurance</a>
            </div>
            <div class="mt-6">
              <a class="link text-m font-medium">Electricité Sécurité Téléphone</a>
            </div>
            <div class="mt-6">
              <a class="link text-m font-medium">Etudes techniques</a>
            </div>
            <div class="mt-6">
              <a class="link text-m font-medium">Gros oeuvre</a>
            </div>
            <div class="mt-6">
              <a class="link text-m font-medium">Machines et équipements</a>
            </div>
          </div>
        </div>
      </div>
      <!-- Solutions -->
      <div v-else-if="title === 'solution'" class="px-5">
        <div class="mt-7 text-l font-bold text-primary-dark">Solutions acheteurs</div>
        <div class="mt-12">
          <div class="text-xm font-bold text-secondary-base">Nos modules</div>
        </div>
        <div class="px-4">
          <div class="mt-6">
            <a class="link text-m font-medium" href="/solutions-acheteur/datalab-marches">DataLab Marchés</a>
          </div>
          <div class="mt-6">
            <a class="link text-m font-medium" href="/solutions-acheteur/e-fournisseurs">E-Fournisseurs</a>
          </div>
          <div class="mt-6">
            <a class="link text-m font-medium" href="/solutions-acheteur/publication-diffusion">Publication &
              Diffusion</a>
          </div>
          <div class="mt-6">
            <a class="link text-m font-medium" href="/solutions-acheteur/demat-a-l-acte">Démat’ à l’acte</a>
          </div>
          <div class="mt-6">
            <a class="link text-m font-medium" href="/solutions-acheteur/e-contacts">E-Contacts</a>
          </div>
          <div class="mt-6">
            <a class="link text-m font-medium" href="/solutions-acheteur/les-tarifs/pack-marches-online">Nos tarifs</a>
          </div>
        </div>

        <div class="relative bg-neutral-ultra-light p-8 mt-12">
          <div class="text-xm font-bold text-secondary-base">Pack Marchés Online</div>
          <div class="text-m font-medium text-neutral-base mt-6">Du sourcing à la publication,
            ce pack est la solution pour la réussite
            de vos marchés</div>
          <div class="mt-7"><a href="/solutions-acheteur/pack-mol"><button
                class="primary-btn btn-mobile flex justify-center">Découvrir</button></a></div>
          <div class="absolute top-3 right-4"><img src="../icons/triangle_mobile.svg" alt=""></div>
        </div>
      </div>
      <!-- Ressources -->
      <div v-else-if="title === 'resource'" class="px-5">
        <div class="mt-7 text-l font-bold text-primary-dark">Actu & Ressources</div>
        <div class="mt-8">
          <div class="mt-4"><a class="text-m font-medium link" @click="openPage('faq/faq-acheteurs/')">Actualités
              Commande Publique</a></div>
          <div class="mt-4"><a class="text-m font-medium link" @click="openPage('faq/tutoriels/')">FAQ et tutoriels</a>
          </div>
          <div class="mt-4"><a class="text-m font-medium link"
              @click="openPage('clubs-marches-les-rencontres-de-la-commande-publique/')">Clubs Marchés</a></div>
          <div class="mt-4"><a class="text-m font-medium link"
              @click="openPage('tous-les-formulaires-de-reference-de-la-commande-publique/')">Formulaires de
              référence</a></div>
          <div class="mt-4"><a class="text-m font-medium link" @click="openPage('prise-en-main-marches-online/')">Nos
              ateliers</a></div>
        </div>
      </div>
      <!-- About -->
      <div v-else-if="title === 'about'" class="px-5">
        <div class="mt-7 text-l font-bold text-primary-dark">Nous connaître</div>
        <div class="mt-8">
          <div class="mt-4"><a class="text-m font-medium link" href="/nous-connaitre/raison-d-etre-et-valeurs">Raison
              d’être et valeurs</a></div>
          <div class="mt-4"><a class="text-m font-medium link" href="/nous-connaitre/sources-information">Nos sources
              d'information</a></div>
          <div class="mt-4"><a class="text-m font-medium link" href="/nous-connaitre/supports-publication">Nos supports
              de
              publication</a></div>
          <div class="mt-4"><a class="text-m font-medium link" href="/nous-connaitre/habilitations-shal">Nos
              habilitations SHAL</a></div>
        </div>
      </div>
      <div v-else></div>
    </div>
  </div>
</template>

<script setup>
import { ref, onMounted, onBeforeUnmount } from 'vue'
import IconsChevronRight from '../icons/chevron_right.vue'
import IconsSearch from '../icons/search.vue'
import IconsCross from '../icons/cross.vue'
import IconsChevronLeft from '../icons/chevron_left.vue'

const emit = defineEmits(['close'])
const close = () => {
  emit('close')
}

onMounted(() => {
  document.body.classList.add("overflow-hidden");
});

onBeforeUnmount(() => {
  document.body.classList.remove("overflow-hidden");
})
let expand = ref(false)
let title = ref('')

const openPage = (url) => {
  window.open('https://www.infos.marchesonline.com/accueil/' + url, '_blank')
}

</script>

<style lang="scss" scoped>
.menu_mobile_container {
  padding-top: 104px;
  padding-bottom: 30px;
}

.sub_menu_mobile_container {
  padding-top: 72px;
  padding-bottom: 30px;
}

.nav_mobile_active {
  @apply text-primary-dark;
}
</style>