<template>
  <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path fill-rule="evenodd" clip-rule="evenodd"
      d="M11.3333 2.66667H3.33332C2.96513 2.66667 2.66665 2.92069 2.66665 3.23404C2.66665 3.5474 2.96513 3.80142 3.33332 3.80142H11.3333C11.7015 3.80142 12 3.5474 12 3.23404C12 2.92069 11.7015 2.66667 11.3333 2.66667ZM9.99999 12.1986H3.33332C2.96513 12.1986 2.66665 12.4526 2.66665 12.766C2.66665 13.0793 2.96513 13.3334 3.33332 13.3334H9.99999C10.3682 13.3334 10.6667 13.0793 10.6667 12.766C10.6667 12.4526 10.3682 12.1986 9.99999 12.1986ZM3.33332 7.43264H12.6667C13.0348 7.43264 13.3333 7.68666 13.3333 8.00002C13.3333 8.31337 13.0348 8.56739 12.6667 8.56739H3.33332C2.96513 8.56739 2.66665 8.31337 2.66665 8.00002C2.66665 7.68666 2.96513 7.43264 3.33332 7.43264Z"
      fill="currentcolor" />
    <path fill-rule="evenodd" clip-rule="evenodd"
      d="M3.33332 2.76667C3.00463 2.76667 2.76665 2.99043 2.76665 3.23404C2.76665 3.47765 3.00463 3.70142 3.33332 3.70142H11.3333C11.662 3.70142 11.9 3.47765 11.9 3.23404C11.9 2.99043 11.662 2.76667 11.3333 2.76667H3.33332ZM2.56665 3.23404C2.56665 2.85095 2.92563 2.56667 3.33332 2.56667H11.3333C11.741 2.56667 12.1 2.85095 12.1 3.23404C12.1 3.61714 11.741 3.90142 11.3333 3.90142H3.33332C2.92563 3.90142 2.56665 3.61714 2.56665 3.23404ZM2.56665 8.00002C2.56665 7.61692 2.92563 7.33264 3.33332 7.33264H12.6667C13.0743 7.33264 13.4333 7.61692 13.4333 8.00002C13.4333 8.38311 13.0743 8.66739 12.6667 8.66739H3.33332C2.92563 8.66739 2.56665 8.38311 2.56665 8.00002ZM3.33332 7.53264C3.00463 7.53264 2.76665 7.75641 2.76665 8.00002C2.76665 8.24362 3.00463 8.46739 3.33332 8.46739H12.6667C12.9953 8.46739 13.2333 8.24362 13.2333 8.00002C13.2333 7.75641 12.9953 7.53264 12.6667 7.53264H3.33332ZM3.33332 12.2986C3.00463 12.2986 2.76665 12.5224 2.76665 12.766C2.76665 13.0096 3.00463 13.2334 3.33332 13.2334H9.99999C10.3287 13.2334 10.5667 13.0096 10.5667 12.766C10.5667 12.5224 10.3287 12.2986 9.99999 12.2986H3.33332ZM2.56665 12.766C2.56665 12.3829 2.92563 12.0986 3.33332 12.0986H9.99999C10.4077 12.0986 10.7667 12.3829 10.7667 12.766C10.7667 13.1491 10.4077 13.4334 9.99999 13.4334H3.33332C2.92563 13.4334 2.56665 13.1491 2.56665 12.766Z"
      fill="currentcolor" />
  </svg>
</template>