<template>
	<!-- Desktop -->
	<div
		class="w-full h-full header_container border-default justify-between items-center hidden lg:flex fixed top-0 bg-white z-50 quickSand">
		<div class="pl-6">
			<a href="/"><img src="../src/components/icons/Logo.svg" alt="" class="header_img_container cursor-pointer"></a>
		</div>
		<div class="flex h-full font-bold text-s">
			<!-- recherche -->
			<div @mouseleave="research = false"
				class="h-full flex items-center link hover:border-b-2 hover:border-primary-dark xl:mr-8 lg:mr-6">
				<div class="h-full flex items-center justify-center text-center relative" @mouseover="research = true">
					Rechercher
					<br class="xl:hidden">des avis
				</div>
				<div class="header_menu_container box-border box-shadow-neutral-2 w-screen absolute z-50 left-0 py-12 bg-white"
					style="margin-top: -2px" v-if="research">
					<div class="flex justify-center divide-x divide-neutral-ultra-light">
						<div class="menu_research_left_container pr-16">
							<div class="text-xm font-bold text-secondary-base">Rechercher un avis</div>
							<div class="text-m font-medium text-neutral-base mt-6">
								Quel que soit votre secteur d'activité,
								accédez à l'ensemble des marchés publics
							</div>
							<div class="mt-7">
								<a href="/rechercher-un-avis"><button class="primary-btn flex items-center">
										<div class="mr-2">
											<IconsSearch></IconsSearch>
										</div> Rechercher
									</button></a>
							</div>
						</div>
						<div class="menu_research_right_container pl-16">
							<div class="grid grid-cols-2">
								<div class="col-span-1">
									<div class="text-xm font-bold text-secondary-base">Par région</div>
									<div class="mt-6">
										<a class="link text-m font-medium ">Ile-de-france</a>
									</div>
									<div class="mt-4">
										<a class="link text-m font-medium">Auvergne–Rhône-Alpes</a>
									</div>
									<div class="mt-4">
										<a class="link text-m font-medium">Bourgogne-Franche-Comté</a>
									</div>
									<div class="mt-4">
										<a class="link text-m font-medium">Bretagne</a>
									</div>
									<div class="mt-4">
										<a class="link text-m font-medium">Centre-Val de Loire</a>
									</div>
									<div class="mt-6">
										<a class="link_underline text-s font-medium" href="/appels-offres/avis-par-region">Voir tout</a>
									</div>
								</div>
								<div class="col-span-1">
									<div class="text-xm font-bold text-secondary-base">Par métier</div>
									<div class="mt-6">
										<a class="link text-m font-medium">Assurance</a>
									</div>
									<div class="mt-4">
										<a class="link text-m font-medium">Electricité Sécurité Téléphone</a>
									</div>
									<div class="mt-4">
										<a class="link text-m font-medium">Etudes techniques</a>
									</div>
									<div class="mt-4">
										<a class="link text-m font-medium">Gros oeuvre</a>
									</div>
									<div class="mt-4">
										<a class="link text-m font-medium ">Machines et équipements</a>
									</div>
									<div class="mt-6">
										<a class="link_underline text-s font-medium" href="/appels-offres/avis-par-metier">Voir tout</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- offres-entreprises -->
			<div class="h-full flex items-center link xl:mr-8 lg:mr-6">
				<a class="h-full flex items-center justify-center text-center" href="/offres-entreprises">Offres
					entreprises</a>
			</div>
			<!-- solutions-acheteur -->
			<div @mouseleave="solutions = false"
				class="h-full flex items-center link hover:border-b-2 hover:border-primary-dark xl:mr-8 lg:mr-6">
				<div class="h-full flex items-center justify-center text-center" @mouseover="solutions = true">Solutions
					acheteurs
				</div>
				<div class="header_menu_container box-border box-shadow-neutral-2 w-screen absolute z-50 left-0 py-12 bg-white"
					v-if="solutions" style="margin-top: -2px">
					<div class="flex justify-center">
						<div class="menu_solution_left_container relative bg-neutral-ultra-light p-8 mr-16">
							<div class="text-xm font-bold text-secondary-base">Pack Marchés Online</div>
							<div class="text-m font-medium text-neutral-base mt-6">Du sourcing à la publication,
								ce pack est la solution pour la réussite
								de vos marchés</div>
							<div class="mt-7"><a href="/solutions-acheteur/pack-mol"><button
										class="primary-btn">Découvrir</button></a></div>
							<div class="absolute top-3 right-4"><img src="../src/components/icons/triangle_mobile.svg" alt=""></div>
						</div>
						<div class="menu_solution_right_container">
							<div class="text-xm font-bold text-secondary-base">Nos modules</div>
							<div class="grid grid-cols-1 mt-2 text-m font-medium text-secondary-dark">
								<a class="col-span-1 link mt-4" href="/solutions-acheteur/datalab-marches">DataLab Marchés</a>
								<a class="col-span-1 link mt-4" href="/solutions-acheteur/e-fournisseurs">E-Fournisseurs</a>
								<a class="col-span-1 link mt-4" href="/solutions-acheteur/publication-diffusion">Publication &
									Diffusion</a>
								<a class="col-span-1 link mt-4" href="/solutions-acheteur/demat-a-l-acte">Démat’ à l’acte</a>
								<a class="col-span-1 link mt-4" href="/solutions-acheteur/e-contacts">E-Contacts</a>
								<a class="col-span-1 link mt-4" href="/solutions-acheteur/les-tarifs/pack-marches-online">Nos tarifs</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- actualités -->
			<div @mouseleave="resources = false"
				class="h-full flex items-center link hover:border-b-2 hover:border-primary-dark xl:mr-8 lg:mr-6">
				<div class="h-full flex items-center justify-center text-center" @mouseover="resources = true">Actualités
				</div>
				<div class="header_menu_container box-border box-shadow-neutral-2 w-screen absolute z-50 left-0 py-12 bg-white"
					v-if="resources" style="margin-top: -2px">
					<div class="flex justify-center">
						<a class="text-m font-medium link mr-16"
							href="https://www.infos.marchesonline.com/accueil/faq/faq-acheteurs/" target="_blank">Actualités
							Commande
							Publique</a>
						<a class="text-m font-medium link mr-16"
							href="https://www.infos.marchesonline.com/accueil/faq/tutoriels/" target="_blank">FAQ et
							tutoriels</a>
						<a class="text-m font-medium link mr-16"
							href="https://www.infos.marchesonline.com/accueil/clubs-marches-les-rencontres-de-la-commande-publique/" target="_blank">Clubs
							Marchés</a>
						<a class="text-m font-medium link mr-16"
							href="https://www.infos.marchesonline.com/accueil/tous-les-formulaires-de-reference-de-la-commande-publique/" target="_blank">Formulaires
							de
							référence</a>
						<a class="text-m font-medium link"
							href="https://www.infos.marchesonline.com/accueil/prise-en-main-marches-online/" target="_blank">Nos
							ateliers</a>
					</div>
				</div>
			</div>
			<!-- about -->
			<div @mouseleave="about = false"
				class="h-full flex items-center link hover:border-b-2 hover:border-primary-dark xl:mr-8 lg:mr-6">
				<div class="h-full flex items-center justify-center text-center" @mouseover="about = true">Nous connaître
				</div>
				<div class="header_menu_container box-border box-shadow-neutral-2 w-screen absolute z-50 left-0 py-12 bg-white"
					v-if="about" style="margin-top: -2px">
					<div class="flex justify-center">
						<a class="text-m font-medium link mr-16" href="/nous-connaitre/raison-d-etre-et-valeurs">Raison d’être et
							valeurs</a>
						<a class="text-m font-medium link mr-16" href="/nous-connaitre/sources-information">Nos sources
							d'information</a>
						<a class="text-m font-medium link mr-16" href="/nous-connaitre/supports-publication">Nos supports de
							publication</a>
						<a class="text-m font-medium link" href="/nous-connaitre/habilitations-shal">Nos habilitations SHAL</a>
					</div>
				</div>
			</div>
			<div class="h-full flex items-center link lg:mr-6">
				<a class="h-full flex items-center justify-center text-center">Contact</a>
			</div>
		</div>
		<div class="flex h-full font-bold text-s cursor-pointer">
			<button class="primary-btn px-6 flex items-center">S’inscrire</button>
		</div>
	</div>
	<!-- Mobile -->
	<div class="w-full header_container border-default lg:hidden bg-white">
		<div class="flex justify-center items-center h-full">
			<img src="../src/components/icons/Logo.svg" alt="" class="header_img_container cursor-pointer"
				@click="redirect('/')">
			<IconsBurger class="absolute right-6 cursor-pointer" style="transform:scaleX(-1);" @click="show = true">
			</IconsBurger>
		</div>
	</div>
	<!-- Mobile Modal -->
	<MenuMobile v-if="show && !isDesktop" @close="closeMobile"></MenuMobile>
	<!-- Connexion Moadal -->
	<!-- <CommonConnexion v-if="connexion" @close="closeConnexion"></CommonConnexion> -->
	<!-- Inscription Moadal -->
	<!-- <CommonInscription v-if="inscription" @close="closeInscription"></CommonInscription> -->
	<!-- Connexion & Inscription Moadal -->
	<!-- <CommonConnexionAndInscription  v-if="connexionAndInscription" @close="closeConnexionAndInscription"></CommonConnexionAndInscription> -->
</template>

<script setup>
import { ref, onMounted, onBeforeUnmount } from 'vue'
import MenuMobile from '../src/components/Header/MenuMobile.vue'
import IconsBurger from '../src/components/icons/burger.vue'
import IconsSearch from '../src/components/icons/search.vue'
let isDesktop = ref(true)
let research = ref(false)
let solutions = ref(false)
let resources = ref(false)
let about = ref(false)

const onResize = () => {
	closeMobile()
	isDesktop.value = window.innerWidth > 1023
}
onMounted(() => {
	onResize()
	window.addEventListener("resize", onResize);
});

onBeforeUnmount(() => {
	window.removeEventListener("resize", onResize);
})

// mobile
const show = ref(false)
const closeMobile = () => {
	show.value = false
}

//  connexion and inscription
const connexion = ref(false)
const closeConnexion = () => {
	connexion.value = false
}
const inscription = ref(false)
const closeInscription = () => {
	inscription.value = false
}

const connexionAndInscription = ref(false)
const closeConnexionAndInscription = () => {
	connexionAndInscription.value = false
}
</script>

<style lang="scss" scoped>
.header_container {
	height: 82px;
}

.header_img_container {
	width: 170px;

	@media (min-width: 1280px) {
		width: 327px;
	}
}

.header_menu_container {
	top: 82px;
}

.menu_research_left_container {
	width: 397px;
}

.menu_research_right_container {
	width: 600px;
}

.menu_solution_left_container {
	width: 397px;
}

.menu_solution_right_container {
	width: 500px;
}
</style>
